################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LibraryApiSolution/v16
/LibraryApi/bin/Debug/netcoreapp3.1
/LibraryApi/Migrations
/LibraryApi/obj
/LibraryApiIntegrationTests/bin/Debug/netcoreapp3.1
/LibraryApiIntegrationTests/obj
/.vs/LibraryApiSolution
/TimeClient/bin/Debug/netcoreapp3.1
/TimeClient/obj
